@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles 
Style.css: utiliza #XXXX para  <section class="XXXX">
.XXXX para o cada camada criada dentro da section EXEMPLO:
(OBJS: CASO SEJA FUNCOES/TAGS EXISTENTES DO CÓDIGO, h1,h2,h3,span,button não precisa utilizar .)
<section id="YYYY" class="XXXX">   style.css: #YYYY.XXXX{} 
Caso seja <section id="YYYY"> 
            <a class="active">
Style.css #YYYY.a.active{}
*/

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

button.normal{
  font-size: 14px;
  font-weight: 600;
  padding: 13px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transform: 0.2s;
}

body {
  width: 100%;
}

/* style barra de navegação onde fica "Inicio, Compras, Blog, Sobre, Contato" */
#header{ 
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1px;
  padding: 20px 80px;
  background-color: #d6d6e2; /*COR DO FUNDO DA BARRA DE NAVEGAÇÃO-HEADER*/
  box-shadow: 0 5px 15px rgb(0, 0, 0, 0.6);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

/* ajuste das posições do "Inicio, Compras, Blog, Sobre, Contato" */
#navbar{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ajuste das posições do "Inicio, Compras, Blog, Sobre, Contato" */
#navbar li{
  list-style: none;
  padding: 0 20px;
  position: relative;
}

/* ajuste style do "Inicio, Compras, Blog, Sobre, Contato" */
#navbar li a{ 
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a; /* COR DA LETRA BARRA NAV("Inicio, Compras, Blog, Sobre, Contato") */
  transition: 0.3s ease;
}
/* a:hover a.active são para dar os efeitos assim que passar o mouse por cima das opções na barra
de navegação */
#navbar li a:hover,
#navbar li a.active{ 
  color: #088178; /*  MUDA A COR AO PASSAR O MOUSE POR CIMA ("Inicio, Compras, Blog, Sobre, Contato")*/
}

/* Muda Style ao passar mouse por cima  ("Inicio, Compras, Blog, Sobre, Contato") e sublinha a página que está */
#navbar li a.active::after,
#navbar li a:hover::after{ 
  content: "";
  width: 30%;
  height: 2px;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

/* style e ajustes para imagem da página inicial, onde está as orfetas */
#hero {
  background-image: url("img/hero4.png");
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#hero h4{
  padding-bottom: 15px ;
}

#hero h1{
  color: #088178 ;
}

/* style do botão "Comprar Agora" */
#hero button{ 
  background-image: url("img/button.png");
  background-color: transparent;
  color:#088178;
  border: 0;
  padding: 14px 80px 14px 65px; 
  background-repeat: no-repeat;
  cursor: pointer; 
  font-weight: 700;
  font-size: 15px;
  
}

/*ajustes para items que ficaram na parte inferior da página "Frete gratis ...."*/
#feature{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;  
}

/* box "frete gratis" */
#feature .fe-box{
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.3);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 5px;

}

/*efeito deixar verde ao passar mouse por cima do item "frete gratis"*/
#feature .fe-box:hover{ 
  box-shadow: 10px 10px 54px rgba(33, 240, 102, 0.3);
}
/* ajuste da imagem que ficará dentro dos box "frete gratis, pedido online..." */
#feature .fe-box img{
  width: 100%;
  margin-bottom: 10px;
}

#feature .fe-box h6{
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color:#088178;
  background-color: #3fc0e0;
}


/* div fe-box é a divisão pai dos box "frete gratis, pedido online....", nth-child serve
para ajustar os box filhos, de acordo com a ordem que foi colocado no index,
logo o filho 2 é pedido online, 3  economize e assim por diante
iremos alterar a cor de cada "FUNDO" onde está escrito Frete gratis, pedido online ... */
#feature .fe-box:nth-child(2) h6{
  background-color:  #fddde4;
}

#feature .fe-box:nth-child(3) h6{
  background-color: #8de4a2;
}

#feature .fe-box:nth-child(4) h6{
  background-color: #83e7eb;
}

#feature .fe-box:nth-child(5) h6{
  background-color: #c875f8;
}

#feature .fe-box:nth-child(6) h6{
  background-color: #f0a569;
}

/* div product onde ficarão os produtos de destaque, ajutes e style de toda div */
#product1{
  text-align: center;
}

#product1 .pro-container{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}

#product1 .pro{
  width: 25%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgb(0, 0, 0, 0.2) ;
  margin-bottom: 10px;  
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}
#product1 .pro:hover{
  box-shadow: 20px 20px 35px rgb(0, 0, 0, 0.6) ;
}
#product1 .pro img{
  width: 100%;
  border-radius: 20px;
}
#product1 .pro .des{
  text-align: start;
  padding: 10px 0;
}
#product1 .pro .des span{
  color:#606063;
  font-size: 12px;
}
#product1 .pro .des h5{
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}
#product1 .pro .des i{
  font-size: 12px;
  color: rgba(243,181,25);
}

#product1 .pro .des h4{
  padding: 7px 0;
  font-size: 15px;
  font-weight: 700;
  color: #088178  ;
}
#product1 .pro .cart{
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  font-weight: 500;
  color:#088178;
  border: 1px solid #cce7d0;
  position: absolute;
  right: 10px;
  bottom: 20px;

}
/* banner é o banner que ficará abaixo do produtos de destaque*/
#banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-image: url("img/banner/b1.jpg");
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}

#banner h4{
  color: #e8f6ea;
  font-size: 16px;
}

#banner h2{
  color: #e8f6ea;
  font-size: 30px;
  padding: 10px 0;
}

#banner h2 span{
  color: #e62222;

}

#banner button:hover{
  background-color: #088178;
  color: #fff;
}

/* sm-banner é os banners que ficarão abaixo da "Nova Coleção" */
#sm-banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#sm-banner .banner-box{
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: flex-start;
  background-image: url("img/banner/b17.jpg");
  width: 500px;
  height: 50vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
}


#sm-banner .banner-box2{
  background-image: url("img/banner/b10.jpg");
}

#sm-banner h4{
  color: #fff;
  font-size: 20px; /* tamanho da letra */
  font-weight: 300; /* tamanho da expressura da letra */
}


#sm-banner h2{
  color: #fff;
  font-size: 28px; /* tamanho da letra */
  font-weight: 800; /* tamanho da expressura da letra */
}

#sm-banner span{
  color: #fff;
  font-size: 14px; /* tamanho da letra */
  font-weight: 500;
  padding-bottom: 15px;
}

#sm-banner button{
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding: 11px 18px;
  border-color: #fff;
  cursor: pointer;
  border: 1px solid;
  background-color: transparent;
  width: 100px;
  height: 5vh;
  outline: none;
  transition: 0.2s;
}

#sm-banner button:hover{
  background-color: #088178;
  color: #fff ;
  border-color: #088178;
}
